@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'DM Sans', sans-serif;
    text-decoration: none;
    list-style-type: none;
}

body {
    min-height: 100vh;
    max-width: 100vw;
    padding-bottom: 72px;
}

img.product-image {
    display: block;
    margin: auto;
    max-width: 240px;
    max-height: 240px;
}